/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 30px; // For consistent padding
$grey: #fff; // Background color
$traffGrey: #1e1e1e;
$width: 580px; // Width of the content area
$br: 3px; // Border radius
$btn-br: 5px; // Border radius
$green: #00D800; 
$primary-color: #348eda; // Primary color for buttons and links
